#root {
  margin: auto;
  display: flex;
  flex-direction: column;
  padding: 0rem 2rem 2rem;
  text-align: center;
  /* justify-content: center; */
}


@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(360deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}